#buttonChart{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:rgb(10, 10, 10);
    background-color: rgb(71, 43, 235);
    border-radius: 5%;
    width: 150px;
    padding: 15px;
    margin-left: 45%;
   }

   header{
      display: flex;   
      justify-content: space-between;
      font-family: "Raleway";
       border: 1px solid red;
       background-color: salmon;
       overflow: hidden;
       padding: 20px;
   }

  header img{
    /* position:absolute;
    right: 150px; */
    border: 1px solid red;

  }

  p{
    color: #B4B4B4;
  }